<!DOCTYPE html>
<html>
    <head>
        <title>Hello world</title>
        <style>
            html,body {
                font-size: 16px;
                line-height: 1.5em;
                min-width: 100vw;
                min-height: 100vh;
            }
            body {
                font-family: sans-serif;
                background-color: #efefef;
                color: #222;
            }
            main {
                margin: 40vh auto 0;
                width: 15rem;
            }
        </style>
    </head>
    <body>
        <main>
            {{.Message}}
        </main>
    </body>
</html>
