name: Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test:
    name: "Test with Go 1.22"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go 1.22
        uses: actions/setup-go@v3
        with:
          go-version: 1.22

      - name: Test
        run: go test -coverprofile=coverage.txt -covermode=atomic $(go list ./... | grep -v /cmd)
